<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi! This is <%= subtitle %></p>
    <form action="/sendcolor" method="post">
      <label for="POST-name">Name:</label>
      <input id="POST-name" type="text" name="name">
      <br>
      <label for="favoritecolor">Enter favorite color:</label>
      <input id="favoritecolor" type="text" name="favoritecolor">
      <br>
      <input type="submit" value="Save">
    </form>
    <ul>
      <% for (var i=0; i<data.length; i++){ %>
        <li>
          <%= data[i].colorUserName %> = <%=
          data[i].favoriteColor %>
        </li>
        <% } %>
    </ul>

  </body>
</html>
